* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #262525;
  display: flex;
  width: 1280px;
  height: 720px;
  border-radius: 15px;
}

.main {
  display: flex;

  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  gap: 50px;
}
.header h2 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16.2px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}
.menu a {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu a:hover {
  color: #ff751d;
  cursor: pointer;
  background-color: aqua;
}

.content {
  display: flex;

  gap: 20px;
  padding: 40px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.row-1 {
  display: flex;
  gap: 20px;
}
.row-1-box {
  width: 245px;
  height: 153px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 2px #00000040;
}
.row-2 {
  display: flex;
}
.row-2-box {
  width: 780px;
  height: 195px;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 4px 8px 2px #00000040;
}

.row-3 {
  display: flex;
  gap: 20px;
}
.row-3-box {
  width: 380px;
  height: 157px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 2px #00000040;
}

.statistic {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.cards {
  width: 295px;
  height: 295.9999694824219px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 2px #00000040;
}
.statistic-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 295px;
  height: 230px;
  box-shadow: 0px 4px 8px 2px #00000040;
  border-radius: 20px;
}
